.flexlayout__tab_moveable{
    height: fit-content;
    max-height: 100%;
    min-height:300px;
}

.flexlayout__tab_button--selected{
    border-radius: 0;
    padding-inline: 0.5rem;
    padding-block: 0;
    margin-bottom: 0.1rem;
    background: #ffffff;
    border-bottom: 2px solid #525252;
    display: flex;
    gap: 1rem;

}

.flexlayout__tab_button_content{
    font-family: ui-sans-serif;
}

.flexlayout__tab{
        padding: 0;
        background-color: #fcfcfc;
}



.ql-toolbar.ql-snow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: rgba(172, 172, 172, 0.4);
    backdrop-filter: blur(4px);
    z-index: -1;
}

.ql-container.ql-snow {
    border:0;

}



.flexlayout__tabset-selected {
    background-color: rgb(255 255 255);
}

.flexlayout__tab_toolbar_button{
     color: #c6c6c6;
    padding-inline: 0.2rem;
    margin: 0;
}

.flexlayout__splitter{
    background-color: rgba(0, 0, 0, .1);


}

.flexlayout__splitter:hover{
     background-color: rgba(0, 0, 0, .8);
}

.flexlayout__splitter_horz{
    min-width: 4px !important;
    width: 4px !important;
}

.flexlayout__splitter_vert{
    min-height: 4px !important;
    height: 4px !important;
}

.flexlayout__tabset_tabbar_inner_tab_container_top{
    padding:0;
}


.flexlayout__tabset_tabbar_outer_top {
    border-bottom: 0;
}

/* quill-custom.css */

/* Luôn hiển thị toolbar, nhưng mặc định để z-index thấp → nằm dưới hoặc ẩn cảm giác */
.ql-toolbar.ql-snow {
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 10;
    background: transparent;
    border: 0;
    border-radius: 0.5rem;
    transition: 0.2s ease-in;
    pointer-events: none;
    padding: 0.2rem 0.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.ql-toolbar.ql-snow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: transparent ;
    backdrop-filter: blur(3px);
    z-index: -1;
}

/* Khi wrapper chứa editor được focus → tăng z-index cao + pointer-events + opacity đầy đủ */
.quill-tab-wrapper:focus-within .ql-toolbar.ql-snow {
  z-index: 9999 !important;     /* nổi lên trên cùng */
  pointer-events: auto;         /* cho phép click toolbar */
  transform: translate(-50%,10%);
}



/* Đảm bảo editor chiếm hết chiều cao còn lại */
.custom-quill-editor .ql-container {
      height: 100% !important;
    background-color: #eeeeee;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

